<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Consulta do Projeto</title>
		
	</head>
	<body>
		<a href="/cadastro">Cadastros</a>
		<table border="1">

			<thead>
				<tr>
					<td>Nome</td>
					<td>Email</td>
					<td>Editar</td>
					<td>Excluir</td>
				</tr>
		    </thead>
	 
                <tbody>
					<tr>
						{% for c in clientes %}
							<td>{{ c.nome }}</td>
							<td>{{ c.email }}</td>
							<td><a href="/editar/{{ c.id }}">Editar(a)</a></td>
							<td><a href="/excluir/{{ c.id }}">Excluir(a)</a></td>
						{% endfor %}
					</tr>
                </tbody>
		
		</table>
	</body>
</html>				


